<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h2>Ajouter un Message</h2>
    </div>
    <div class="card-body">
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Content</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <select class="form-select mb-3" aria-label="Default select example">
        <option selected>Selection le sujet</option>
        <option value="1">Sujet JAVA</option>
        <option value="2">Sujet PYTHON</option>
        <option value="3">Sujet PHP</option>
      </select>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary mb-3">Enregistrer un message</button>
      </div>
    </div>
  </div>
</div>
